<div class="col-md-3">
	<img src="https://lorempixel.com/140/140/" alt="..." class="img-circle">
	<div>
		<span class="like glyphicon glyphicon-thumbs-up"></span>
		<span class="count"> {{question.ratin}} </span>
		<span class="dislike glyphicon glyphicon-thumbs-down"></span>
	</div>
</div>
<div class="col-md-9">
	<p>
	<h4><a href= "{% url 'question' question.id%}"><b>Title:</b> {{question.title}}</a></h4>
	<h5><b>Question id:</b> {{question.id}}</h5>
	{{question.text}}
	</p>
	<div>
		<span>Answers: {{question.answers_count}}</span>
		<span>
		{% for tag in question.tags.all %}
			<a href="{% url 'tag' %}?tag={{tag.text}}" class="badge">{{tag.text}}</a>
		{% endfor %}
		</span>
	</div>
</div>